@font-face {
  font-family: "Benzin";
  src: url("Benzin-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
body {
      margin: 0;
      font-family: "Benzin", sans-serif;
      line-height: 1.6;
      background: #000000;
      color: #ffffff;
    }
header {
      background: #000;
      padding: 20px;
      position: sticky;
      top: 0;
      z-index: 10;
      margin: 0;
}
ul.menu {
    margin: 0;
    padding: 0;
    background-color: #000000;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

ul.menu li {
    float: left;
}

ul.menu li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.menu li a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.ee_lo{
	background: url("el-zup.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;  
    align-items: center; 
}
.gallery-container {
    width: 90%;
    max-width: 1200px;
    margin: 10% auto;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
    transition: opacity 0.3s ease;
}

.gallery-item:hover img {
    opacity: 0.8;
}